img {
   width: 300px;
   height: 200px;
   
    border-style: solid;
    border-width: 7px;
    color: black;
}

body {
   background-image: url(https://i.imgur.com/UqWWDbt.gif);
   
}

p {
  text-align: center;
}

h1 {
   text-align: center;
    color: white;
}

.word {
    color:white;
}








